<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Spring Boot 默认转换器（%clr 彩色、%wEx 异常格式等） -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <springProperty scope="context" name="APP_NAME"
                    source="spring.application.name" defaultValue="hify"/>

    <appender name="CONSOLE_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeContext>false</includeContext>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <version>[ignore]</version>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <thread>thread</thread>
                <logger>logger</logger>
                <message>message</message>
            </fieldNames>
            <customFields>{"app":"${APP_NAME}"}</customFields>
            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <shortenedClassNameLength>25</shortenedClassNameLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <springProfile name="dev,default">
        <logger name="com.hify" level="DEBUG"/>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE_JSON"/>
    </root>

</configuration>
